.Page02 {
    width: 100%;

    display: flex;
    justify-content: right !important;
    margin-top: 60px;

    .main_body {
        width: 80%;
        height: 100vh;

        .card {
            width: 100%;
            height: auto;

            .card_bg {
                width: 300px !important;
                height: 60px;
                background: #000000;
                justify-content: center;
                align-items: center;
                border-radius: 20%;
                border: 1px solid red;

                img {
                    width: 200px !important;
                    height: 60px !important;
                    padding: 5px 0;
                    border-radius: 20%;
                }
            }
        }
    }

    @media screen and (max-width : 760px) and (min-width : 200px) {

        .main_body {
            width: 100% !important;
            height: auto;
        }

    }

    @media screen and (max-width : 750px) and (min-width : 500px) {

        .card {
            width: 70% !important;
            margin: 0 auto !important;
            height: auto;

            .card_bg {
                width: 250px !important;
                height: 60px;
                background: #000000;
                justify-content: center;
                align-items: center;
                border-radius: 20%;
                border: 1px solid red;

                img {
                    width: 100px !important;
                    height: 60px !important;
                    padding: 5px 0;
                    border-radius: 20%;
                }
            }

        }
    }
}